.first-half-item-fullstats {
    height: 30vh;
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.first-half-item-FirstTextBox {
    width: 20vw;
}

.first-half-item-SecondTextBox {
    width: 50vw;
}

.first-half-item-Tabs {
    width: 30vw;
}

.second-half-sales-statistics {
    width: 80vw;
    height: 60vh;
}

.second-half-sales-graph {
    margin-top: 10vh;
    float: right;
    clear: both;
}