.first-half-item-fullstats {
    height: 30vh;
    width: 85vw;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.first-half-item-FirstTextBox {
    font-family: 'KoHo', sans-serif;
}

.first-half-item-SecondTextBox {
    width: 50vw;
}

.first-half-image {
    width: 15vw;
}

.second-half-sales-statistics {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 85vw;
    height: 60vh;
}

.second-half-sales-graph {
    margin-top: 10vh;
}

.second-half-sales-return-graph {
    margin-top: 10vh;
}