.box {
    height: 90vh;
    width: 85vw;
}

.input-and-button-wrapper {
    height: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: 5vh;
}

.button {
    margin-top: 0vw;
    margin-left: 5vw;
}

.error-message {
    text-align: center;
    margin-top: 10vh;
}

.loading {
    margin-top: 20vw;
    margin-left: 30vw;
}