.box {
    height: 90vh;
    width: 85vw;
}

.input-and-button-wrapper {
    height: 12vh;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.button {
    margin-left: 5vw;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.checked-box {
    margin-left: 5vw;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.my-date-picker {
    margin-left: 1vw;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.error-message {
    text-align: center;
    margin-top: 10vh;
}

.loading {
    margin-top: 20vw;
    margin-left: 30vw;
}

.input-search-size {
    width: 40vw;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3vw;
}

.input-search-size-ref {
    width: 55.3vw;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10vw;
}