.itemBox {
    margin-top: 5vh;
    margin-left: 2vw;
    width: 77vw;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.textbox {
    margin-top: 0.5vh;
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.firstTextBox {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    width: 21vw;
    margin-left: 0.5vw;
}

.secondTextBox {
    margin-top: 1vh;
}

.text {
    margin-top: 1vh;
    font-size: small;
}

.text2 {
    margin-top: 3vh;
    font-size: small;
}

.image {
    margin-left: 1vh;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    width: 9vw;
}

.plusbutton {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tabela {
    width: 12vw;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4vw;
}